.EmergencyCall {
  font-family: Arial, sans-serif;
  text-align: center;
}

.EmergencyCall .button-container {
  margin: 1.25rem;
}

.EmergencyCall .button-container button {
  margin: 0.625rem;
  padding: 0.625rem 1.25rem 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.EmergencyCall .button-container button:hover {
  background-color: #3e8e41;
}

.EmergencyCall .button-image {
  width: 85%; /* Ensure the image fills the button */
  height: 85%; /* Maintain aspect ratio */
  border-radius: 50%; /* Ensure the image is fully circular */
}

.EmergencyCall .mainbutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.EmergencyCall .button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: auto;
}

.EmergencyCall .root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EmergencyCall .toggle-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  outline: none;
}

.EmergencyCall .header-text {
  margin-left: auto;
}



.EmergencyCall #output {
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1.25rem;
  margin-top: 3.75rem;
}

.EmergencyCall .output-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1.25rem;
  max-width: 37.5rem; /* Adjust maximum width as needed */
  margin: 1.25rem auto; /* Center align and adjust margin */
  background-color: black;
  min-height: 18.75rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.EmergencyCall .header {
  display: flex;
  align-items: center;
}

.EmergencyCall .head {
  color: #f0f0f0;
}

.EmergencyCall .logo {
  fill: white;
  margin-right: 0.625rem;
}

.EmergencyCall .outputActions {
  margin-left: auto;
}

.EmergencyCall .outputActions a {
  color: #fff;
  text-decoration: underline;
  margin-left: 0.625rem;
}

.EmergencyCall .outputActions a:hover {
  text-decoration: underline;
}

.EmergencyCall #output-summary {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
  color: #ccc;
}

.EmergencyCall #output-summary .log svg,
#output-summary .info svg,
#output-summary .warn svg,
#output-summary .error svg {
  margin-right: 0.3125rem;
}

.EmergencyCall #output-logs {
  list-style: none;
  padding-top: 0;
  text-align: left;
  padding-left: 0;
}

.EmergencyCall #output-logs li {
  margin-bottom: 0.3125rem;
}

.EmergencyCall .system {
  color: #333;
}

.EmergencyCall .warn {
  color: #f0ad4e;
}

.EmergencyCall .error {
  color: #d9534f;
}

.EmergencyCall .cm-string {
  color: #28a745;
}

.EmergencyCall .output-terminal {
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 25rem;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.EmergencyCall .input-text {
  width: 300px;
  margin: 0 auto
}

.EmergencyCall .log-item {
  position: relative;
  margin-bottom: 0.625rem;
  padding-left: 1.25rem; /* Adjust this for spacing between arrow and content */
}

.EmergencyCall .arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.625rem; /* Adjust arrow width */
  height: 0.625rem; /* Adjust arrow height */
  border-top: 2px solid #555; /* Adjust arrow color */
  border-right: 2px solid #555; /* Adjust arrow color */
  transform: rotate(45deg);
  margin-top: 0.375rem; /* Adjust this for vertical alignment */
}

.EmergencyCall .image-wrapper-div {
  border-radius: 50%;
  border: 8px solid #ececec;
  box-shadow: 1px 10px 20px 5px grey;
  cursor: pointer;
  width: 120px;
  height: 120px;
}

.EmergencyCall .image-wrapper {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  position: relative;
}

.EmergencyCall .image-wrapper .image-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  padding: 10px;
}